@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400&display=swap');

body {
  font-family: "Noto Naskh Arabic", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* تعديل بسيط لمسافة النص بجانب زر الراديو/الاختيار ليتناسب مع الكتابة من اليمين لليسار */
.form-check-label {
  padding-inline-start: 0.5em;
}
